<!-- home page template -->

<p><b>Enter your data :</b></p>

<form action="/calculate" method="POST">  <!-- post request when the form is submitted -->
    <label>Height in meters :</label>
    <label>
        <input name="height" type="number" step="0.01" min="0" required>
    </label>

    <br>

    <label>Weight in kg :</label>
    <label>
        <input name="weight" type="number" step="0.01" min="0" required>
    </label>

    <br><br>

    <button type="submit" name="calculate">Calculate</button>
</form>