<!-- layout template for the entire app -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body Mass Index Calculator</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- css style in stylesheets directory -->
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>

<h1>Body Mass Index Calculator</h1>

{{{ body }}}

</body>
</html>